@page
@model BookProject.Pages.PaymentCompletedModel
@{
}

<div class="text-center">
    <br /><br />
    <h2>Thanks for purchasing books from your local bookstore!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>